<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="layout/fragments/head :: headFragment"></th:block>

<body class="bg-light">
<th:block th:replace="layout/fragments/first_box ::firstFragment"></th:block>
<div class="py-4">
    <div class="container">
        <div class="row position-relative">
            <!-- Main Content -->
            <th:block layout:fragment="content"></th:block>
            <th:block th:replace="layout/fragments/leftAside ::asideFragment"></th:block>
            <th:block th:replace="layout/fragments/rightAside ::asideFragment"></th:block>

        </div>
    </div>
</div>
<th:block th:replace="layout/fragments/copyright ::copyFragment"></th:block>
<th:block th:replace="layout/fragments/postModal ::modalFragment"></th:block>
<th:block th:replace="layout/fragments/signModal ::modalFragment"></th:block>
<th:block th:replace="layout/fragments/languageModal ::modalFragment"></th:block>
<th:block th:replace="layout/fragments/commentModal ::modalFragment"></th:block>
<th:block th:replace="layout/fragments/searchModal ::modalFragment"></th:block>

<th:block th:replace="layout/fragments/footer ::footerFragment"></th:block>

</body>
</html>