<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="firstFragment">
    <div class="web-none d-flex align-items-center px-3 pt-3">
        <a href="/" class="text-decoration-none">
            <img src="/img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
        </a>
        <button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <span class="material-icons">menu</span>
        </button>
    </div>
</th:block>
</html>