<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="footerFragment">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- Jquery Js -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle Js -->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>
    <script src="js/customEvent.js"></script>
    <!-- Slick Js -->
    <script src="vendor/slick/slick/slick.min.js"></script>
</th:block>
</html>