<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="modalFragment">
    <div class="modal fade" id="searchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-scrollable">
            <div style="width: 540px" class="modal-content rounded-4 p-4 border-0 bg-light">
                <div class="modal-header d-flex align-items-center justify-content-start border-0 p-0 mb-3">
                    <a href="#" class="text-muted text-decoration-none material-icons" data-bs-dismiss="modal">arrow_back_ios_new</a>
                    <h5 class="modal-title text-muted ms-3 ln-0" id="staticBackdropLabel">유저는 @ 게시물은 #</h5>
                </div>
                    <div style="width: 500px;" class=" modal-footer justify-content-start px-1 py-1 bg-white shadow-sm rounded-5">
                        <div class="rounded-4 m-0 px-3 py-2 d-flex align-items-center justify-content-between w-75">
                            <input style="width: 400px;border: none" type="text" >

                        </div>
                        <div class="ms-auto m-0">
                            <a  class="post-create-btn btn btn-primary rounded-5 fw-bold px-3 py-2 fs-6 mb-0 d-flex align-items-center"><span class="material-icons me-2 md-16">send</span>Search</a>
                        </div>


                    </div>
                <div  class="search_wrapper modal-footer justify-content-start px-1 py-1 bg-white shadow-sm rounded-5">
                    <div class="search_box">
                        <div>
                            <img class="search_box_img" src="/img/wolf.png">
                        </div>
                        <div class="search_box_context">
                            <span >울프</span>
                            <span class="link-primary">@늑대</span>
                        </div>

                        <div class="search_box_follow" >
<!--                            th:attr="data-userId=${user.userId}" th:checked="${isFollow}"-->
                            <input type="checkbox" class="profile_follow_btn btn-check" id="btnPro">
                            <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btnPro">
                                <span class="follow">+ Follow</span>
                                <span class="following d-none">Following</span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

</html>