<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="modalFragment">


<div class="modal fade" id="signModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-4 p-4 border-0">
            <div class="modal-header border-0 p-1">
                <h6 class="modal-title fw-bold text-body fs-6" id="exampleModalLabel">Choose Language</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body p-0">
                    <div class="row py-3 gy-3 m-0">
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="hindi11">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between" for="hindi11">
                           <span class="text-start d-grid">
                           <small class="ln-18">हिंदी</small>
                           <small class="ln-18">Hindi</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="english21" checked>
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between" for="english21">
                           <span class="text-start d-grid">
                           <small class="ln-18">English</small>
                           <small class="ln-18">English</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="kannada31">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between" for="kannada31">
                           <span class="text-start d-grid">
                           <small class="ln-18">ಕನ್ನಡ</small>
                           <small class="ln-18">kannada</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="tamil41">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between" for="tamil41">
                           <span class="text-start d-grid">
                           <small class="ln-18">தமிழ்</small>
                           <small class="ln-18">Tamil</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="punjabi51">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between mb-2" for="punjabi51">
                           <span class="text-start d-grid">
                           <small class="ln-18">ਪੰਜਾਬੀ</small>
                           <small class="ln-18">Punjabi</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="punjabi5111">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between mb-2" for="punjabi5111">
                           <span class="text-start d-grid">
                           <small class="ln-18">Türk</small>
                           <small class="ln-18">Turkish</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="punjabi511">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between mb-2" for="punjabi511">
                           <span class="text-start d-grid">
                           <small class="ln-18">français</small>
                           <small class="ln-18">French</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                        <!-- Langauge Item -->
                        <div class="langauge-item col-6 col-md-3 px-1 mt-2">
                            <input type="radio" class="btn-check" name="options-outlined" id="other1">
                            <label class="btn btn-language btn-sm px-2 py-2 rounded-5 d-flex align-items-center justify-content-between mb-2" for="other1">
                           <span class="text-start d-grid">
                           <small class="ln-18">Other</small>
                           <small class="ln-18">Other</small>
                           </span>
                                <span class="material-icons text-muted md-20">check_circle</span>
                            </label>
                        </div>
                    </div>
                    <div class="mt-5 login-register" id="number">
                        <h6 class="fw-bold mx-1 mb-2 text-dark">Register your Mobile Number</h6>
                        <div class="row mx-0 mb-3">
                            <div class="col-3 p-1">
                                <div class="form-floating">
                                    <select class="form-select rounded-5" id="floatingSelect" aria-label="Floating label select example">
                                        <option selected>+91</option>
                                        <option value="1">+34</option>
                                        <option value="2">+434</option>
                                        <option value="3">+343</option>
                                    </select>
                                    <label for="floatingSelect">Code</label>
                                </div>
                            </div>
                            <div class="col-9 p-1">
                                <div class="form-floating d-flex align-items-end">
                                    <input type="text" class="form-control rounded-5" id="floatingName" value="1234567890" placeholder="Enter Mobile Number">
                                    <label for="floatingName">Enter Mobile Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <button type="button" class="btn btn-primary w-100 text-decoration-none rounded-5 py-3 fw-bold text-uppercase m-0" data-bs-dismiss="modal">Send OTP</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</th:block>
</html>