<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"
      layout:decorate="/layout/default">


<th:block layout:fragment="content">

<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                  <div class="main-content">
                     <div class="d-flex align-items-center mb-3">
                        <a href="index.html" class="material-icons text-dark text-decoration-none m-none me-3">arrow_back</a>
                        <p class="ms-2 mb-0 fw-bold text-body fs-6">Explore</p>
                     </div>
                     <div class="bg-white rounded-4 overflow-hidden shadow-sm mb-4 mb-lg-0">
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Celebrity</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3">Happy birthday, Osahan 🎂</p>
                              <small class="text-muted">Trending with</small><br/>
                              <span class="text-primary">#HappyBirthdayJohnSmith</span>
                           </div>
                           <img src="/img/rmate4.jpg" class="img-fluid rounded-4 ms-auto" alt="profle-img">
                        </a>
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                              </div>
                              <p class="fw-bold mb-0 pe-3">#SelectricsM12</p>
                              <small class="text-muted">Buy now with exclusive offers</small><br/>
                              <small class="text-muted d-flex align-items-center"><span class="material-icons me-1 small">open_in_new</span>Promoted by Selectrics World</small>
                           </div>
                        </a>
                        <!-- Trending Item -->
                        <div class="p-3 border-bottom d-flex">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Trending in India</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3 text-dark">#ME11Lite</p>
                              <small class="text-muted">Discere constituto vituperatoribus ad vis, in pri atqui animal assueverit</small><br/>
                              <small class="text-muted">52.8k Tweets</small>
                           </div>
                           <div class="dropdown ms-auto">
                              <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                              <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                 <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>Not interested in this</a></li>
                                 <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>This trend is harmful or spammy</a></li>
                              </ul>
                           </div>
                        </div>
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Design</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <small class="text-muted">Trending with</small><br/>
                              <span class="text-primary">#topdesign</span>
                           </div>
                           <img src="/img/trend1.jpg" class="img-fluid rounded-4 ms-auto" alt="trending-img">
                        </a>
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Celebrity</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3">Happy birthday, Osahan Smith 🎂</p>
                              <small class="text-muted">Trending with</small><br/>
                              <span class="text-primary">#HappyBirthdayJohnSmith</span>
                           </div>
                           <img src="/img/rmate5.jpg" class="img-fluid rounded-4 ms-auto" alt="profile-img">
                        </a>
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                              </div>
                              <p class="fw-bold mb-0 pe-3">#SelectricsM12</p>
                              <small class="text-muted">Buy now with exclusive offers</small><br/>
                              <small class="text-muted d-flex align-items-center"><span class="material-icons me-1 small">open_in_new</span>Promoted by Selectrics World</small>
                           </div>
                        </a>
                        <!-- Trending Item -->
                        <div class="p-3 border-bottom d-flex">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Trending in India</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3 text-dark">#ME11Lite</p>
                              <small class="text-muted">Buy now with exclusive offers</small><br/>
                              <small class="text-muted">52.8k Tweets</small>
                           </div>
                           <div class="dropdown ms-auto">
                              <a href="#" class="text-muted text-decoration-none material-icons ms-2 md-20 rounded-circle bg-light p-1" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">more_vert</a>
                              <ul class="dropdown-menu fs-13 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                 <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>Not interested in this</a></li>
                                 <li><a class="dropdown-item text-muted" href="#"><span class="material-icons md-13 me-1">sentiment_very_dissatisfied</span>This trend is harmful or spammy</a></li>
                              </ul>
                           </div>
                        </div>
                        <!-- Trending Item -->
                        <a href="tags.html" class="p-3 border-bottom d-flex align-items-center text-dark text-decoration-none">
                           <div>
                              <div class="text-muted fw-light d-flex align-items-center">
                                 <small>Design</small><span class="mx-1 material-icons md-3">circle</span><small>Live</small>
                              </div>
                              <p class="fw-bold mb-0 pe-3">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                              <small class="text-muted">Trending with</small><br/>
                              <span class="text-primary">#topdesign</span>
                           </div>
                           <img src="/img/rmate2.jpg" class="img-fluid rounded-4 ms-auto" alt="profile-img">
                        </a>
                     </div>
                  </div>
               </main>
</th:block>
</html>