<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" href="img/logo.png">
      <title>Vogel - Social Network & Community HTML Template</title>
      <meta name="description" content="Vogel - Social Network & Community HTML Template" />
      <meta name="keywords" content="bootstrap5, e-learning, forum, games, online course, Social Community, social events, social feed, social media, social media template, social network html, social sharing, twitter" />
      <!-- Bootstrap CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Slich Slider -->
      <link href="vendor/slick/slick/slick.css" rel="stylesheet">
      <link href="vendor/slick/slick/slick-theme.css" rel="stylesheet">
      <!-- Icofont -->
      <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
      <!-- Font Icons -->
      <link href="vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
      <!-- Custom Css -->
      <link href="css/style.css" rel="stylesheet">
      <!-- Material Icons -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   </head>
   <body class="bg-light">
      <div class="web-none d-flex align-items-center px-3 pt-3">
         <a href="index.html" class="text-decoration-none">
         <img src="img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
         </a>
         <button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
         <span class="material-icons">menu</span>
         </button>
      </div>
      <div class="py-4">
      <div class="container">
         <div class="row position-relative">
            <!-- Main Content -->
            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
               <div class="main-content">
                  <div class="mb-5">
                     <img src="img/logo.png" class="img-fluid logo" alt="brand-logo">
                     <h1 class="fw-bold text-black mb-1">Login</h1>
                     <p class="lead fw-normal text-muted mb-0">welcome to twitter</p>
                  </div>
                  <!-- Feeds -->
                  <div class="feeds">
                     <!-- Feed Item -->
                     <div class="bg-white mt-5 p-4 feed-item rounded-4 shadow-sm faq-page">

                        <div class="row justify-content-center">
                           <div class="col-lg-12">
                              <form class="form-floating-space" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                 <!-- Name input-->
                                 <div class="form-floating mb-3">
                                    <input class="form-control rounded-5" id="name" type="email" placeholder="Enter email address"/>
                                    <label for="name">email address</label>
                                 </div>
                                 <!-- Phone number input-->
                                 <div class="form-floating mb-3">
                                    <input class="form-control rounded-5" id="password" type="password" placeholder="Enter password"/>
                                    <label for="password">password</label>
                                 </div>
                                 <!-- Submit Button-->
                                 <div class="d-grid"><button class="btn btn-primary w-100 rounded-5 text-decoration-none py-3 fw-bold text-uppercase m-0" id="loginButton" type="submit">Login</button></div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </main>
            <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
               <div class="p-2 bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">

               </div>
               <!-- Sidebar -->
               <div class="ps-0 m-none fix-sidebar">
                  <div class="sidebar-nav mb-3">
                   </div>
               </div>
            </aside>
            <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
               <div class="fix-sidebar">
                  <div class="side-trend lg-none">
                     <!-- Search Tab -->
                     <div class="sticky-sidebar2 mb-3">
                    </div>
                  </div>
                </div>
            </aside>
         </div>
      </div>
      </div>
<!-- Jquery Js -->
      <script>
         const button = $("#loginButton");
         console.log(button);
         button.preventDefault();

         $("#loginButton").click(function(){
            alert("이벤트");
            $.ajax({
               method :"post",
               url : "/api/login",
               data :JSON.stringify({
                  "email": $("#name").val(),
                  "password" :$("#password").val()
               }),
               contentType:"application/json"

            })
            .done(function(response){
               alert("hello");
            }).fail(function(response){
               alert("로그인실패");
            });
         });

      </script>
      <script src="vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Bundle Js -->
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Custom Js -->
      <script src="js/custom.js"></script>
      <script src="js/customEvent.js"></script>
      <!-- Slick Js -->
      <script src="vendor/slick/slick/slick.min.js"></script>
   </body>
</html>