<!doctype html>
<html lang="en" th:xmlns="www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>

<from id="upload_form">

    <input id="name" type="name">
    <input id="file" type="file">
    <input id="submit" type="submit" value="전송">


</from>

</body>
    <script>

        $("#submit").click(function (){

           const sendingData = new FormData($("#upload_form"));

            $.ajax({
                url : "/upload",
                method :"post",
                data : sendingData,
                enctype : "multipart/form-data",
                contentType:false,
                processData: false

            })
            .done(function (response){
               console.log("완료");
            });

        });
    </script>
</html>